{% extends "base_site.html" %}

{% block title %} Inicio {% endblock title %}
{% block top_nav_title %} Panel de control {% endblock top_nav_title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row ">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="tile_count">
            <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count text-center">
              <span class="count_top"><i class="fa fa-user"></i> Nº de Asistentes</span>
              <div class="count blue">2500</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count text-center">
              <span class="count_top"><i class="fa fa-sign-in"></i> Nº de Accesos</span>
              <div class="count blue">123</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count text-center">
              <span class="count_top"><i class="fa fa-shopping-cart"></i> Total Pagos</span>
              <div class="count blue">2,500 €</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count text-center">
              <span class="count_top"><i class="fa fa-users"></i> Media asistentes por sala</span>
              <div class="count blue">4,567</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

          <div class="row x_title">
            <div class="col-md-12">
              <h3>Entradas/Salidas a salas <small>Jueves 21 Diciembre</small></h3>
            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="x_content">
              <canvas id="canvas"></canvas>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
              <h2>Top Salas</h2>
              <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-6">
              <h5>Aforos</h5>
              <div>
                <p>Sala 1</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="99"></div>
                  </div>
                </div>
              </div>
              <div>
                <p>Sala 2</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6">
              <div>
                <p>Sala 3</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                  </div>
                </div>
              </div>
              <div>
                <p>Sala 4</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}

  <script src="{{ url_for('static', filename='build/js/index.js') }}"></script>
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.bundle.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
{% endblock javascripts %}
